<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SNbeauty.Properties.Settings.müsteriListesConnectionString"
            connectionString="Data Source=DESKTOP-2EBC20H\SQLEXPRESS;Initial Catalog=müsteriListes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>